/* body {
    margin: 0;
    font-family: monospace;
    background-color: gold
} */

header {
    display:flex;
    /* text-align: center; */
    background-color: aqua;
    justify-content: center;
    align-items: center;
    height: 70px;
}

#top {
    height: 200px;
    width : auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#countries {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

